#Home{
  background-color: #ffc107;
  color: white;
}

.caixa{
  padding: 60px 0;
  border-bottom: 1px solid #e5e5e5 ;
}

footer p a{
  margin: 5px 15px;
}
/*
pagamentos
*/
body {
  background-color: #f7f7f7;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.card-header {
  background-color: #007bff;
  color: white;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}
